{% load static %}
<head>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="{% static 'css/materialize.css' %}">

  <!-- Compiled and minified JavaScript -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="{% static 'js/materialize.js' %}"></script>

  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <script>
    (function($){
    $(function(){

      $('.sidenav').sidenav();

    }); // end of document ready
  })(jQuery); // end of jQuery name space
  </script>
</head>
<body>

{% include "blog/includes/navbar.html" %}
{% include "blog/includes/messages.html" %}

  <!-- <div class="container"> -->
    {% block content %}
    {% endblock %}
  <!-- </div> -->


    <ul id="slide-out" class="sidenav">
      <li><div class="user-view">
        <div class="background">
          <img src="{% static 'img/office.jpg' %}">
        </div>
        <a href="#"><img class="circle" src="{{ user.profile.image.url }}"></a>
        <a href="#"><span class="white-text name">{{ user.username }}</span></a>
        <a href="#"><span class="white-text email">{{ user.email }}</span></a>
      </div></li>
      <li><a class="waves-effect" href="/profile"><i class="material-icons">settings</i>Settings</a></li>
      <li><div class="divider"></div></li>
      <li><a class="waves-effect" href="/logout"><i class="material-icons">dashboard</i>Logout</a></li>
    </ul>
</body>

<!-- <script src="{% static 'tinymce/js/prism.js' %}"></script> -->