<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!--NAVBAR------------------------------------------------------------------------------------------------------>
    <!--NAVBAR-MAIN------------------------------------------------------------------------------------------------------>
    <nav class="nav-extended indigo accent-3">
        <div class="nav-wrapper container">
            <a href="#!" class="brand-logo">share.it</a>
            <ul class="right">
                <li class="hide-on-small-only"><a href="login.html">Login</a></li>
                <li class="hide-on-small-only"><a href="register.html">Register</a></li>
                <li><a class="dropdown-trigger" href="#!" data-target="dropdown1"><i class="material-icons right">menu</i></a></li>
            </ul>
        </div>
    <!--NAVBAR-SECONDARY------------------------------------------------------------------------------------------------------>
        <div class="nav-content indigo accent-2">
            <div class="container">
                <ul class="tabs tabs-transparent valign-wrapper">
                    <li><a class="btn-floating btn waves-effect waves-light red"><img src="https://images.pexels.com/photos/2037796/pexels-photo-2037796.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt=""></a></li>
                    <li><a class="btn-floating btn waves-effect waves-light red"><img src="https://images.pexels.com/photos/2037796/pexels-photo-2037796.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt=""></a></li>
                    <li><a class="btn-floating btn waves-effect waves-light red"><img src="https://images.pexels.com/photos/2037796/pexels-photo-2037796.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt=""></a></li>
                    <li><a class="btn-floating btn waves-effect waves-light red"><img src="https://images.pexels.com/photos/2037796/pexels-photo-2037796.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt=""></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!--NAVBAR-DROPDOWN------------------------------------------------------------------------------------------------------>
    <ul id="dropdown1" class="dropdown-content">
            <li class="hide-on-med-and-up indigo-text text-accent-3"><a href="login.html">Login</a></li>
            <li class="hide-on-med-and-up"><a href="register.html">Register</a></li>
            <li><a href="#!">one</a></li>
            <li><a href="#!">two</a></li>
            <li class="divider"></li>
            <li><a href="#!">three</a></li>
    </ul>
    <!--PAGE CONTENT-CONTAINER------------------------------------------------------------------------------------------------------>
    <div class="container">
    <!--TEXT-HEADER------------------------------------------------------------------------------------------------------>
        <div class="row bottom-border">
            <div class="col s12 m12 l12">
                <h3 class="section-header">Sample text</h3>
            </div>
        </div>
    <!--SINGLE ROW OF TOPICS------------------------------------------------------------------------------------------------------>
        <div class="row">
    <!--ONE OF 3 ROWS------------------------------------------------------------------------------------------------------>
          <!-- https://youtu.be/LDU_Txk06tM -->
            <div class="col s12 m6 l4">
                <h4 class="center">Section</h4>
                <ul class = "collapsible popout" data-collapsible = "accordion">
                    <li>
                        <div class = "collapsible-header">
                            <div class="row">
                                <div class="col s12 m12 l12 post-author"><a href="#" class="">User</a>posted x  days ago</div>
                                <div class="col s12 m12 l12">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere, possimus?</div>
                            </div>
                        </div>
                        <div class = "collapsible-body">
                            <p class="bottom-border">tekst posta :<</p>
                            <ul class = "collection">
                                <li class = "collection-item"><div class="post-author"><a href="#" class="">User1</a>posted x  days ago</div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum, laudantium cum nobis perferendis fuga aliquam et enim hic molestiae excepturi omnis odio iure aperiam sint ipsa obcaecati voluptates voluptatum ratione!</li>
                                <li class = "collection-item"><div class="post-author"><a href="#" class="">User2</a>posted x  days ago</div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum, laudantium cum nobis perferendis fuga aliquam et enim hic molestiae excepturi omnis odio iure aperiam sint ipsa obcaecati voluptates voluptatum ratione!</li>
                                <li class = "collection-item"><div class="post-author"><a href="#" class="">User3</a>posted x  days ago</div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum, laudantium cum nobis perferendis fuga aliquam et enim hic molestiae excepturi omnis odio iure aperiam sint ipsa obcaecati voluptates voluptatum ratione!</li>
                                <li class = "collection-item"><div class="post-author"><a href="#" class="">User4</a>posted x  days ago</div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum, laudantium cum nobis perferendis fuga aliquam et enim hic molestiae excepturi omnis odio iure aperiam sint ipsa obcaecati voluptates voluptatum ratione!</li>
                                <li class = "collection-item"><div class="post-author"><a href="#" class="">User5</a>posted x  days ago</div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum, laudantium cum nobis perferendis fuga aliquam et enim hic molestiae excepturi omnis odio iure aperiam sint ipsa obcaecati voluptates voluptatum ratione!</li>
                                <li class = "collection-item">
                                    <form class="">
                                        <div class="input-field">
                                            <textarea id="textarea2" class="materialize-textarea" data-length="240"></textarea>
                                            <label for="textarea2">Comment...</label>
                                        </div>
                                        <button class="btn waves-effect waves-light right indigo accent-3" type="submit" name="action">Submit
                                        <i class="material-icons right">send</i>
                                        </button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class = "collapsible-header">
                            <div class="card">
                                <div class="card-image">
                                    <img src="https://images.pexels.com/photos/769347/pexels-photo-769347.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
                                    <span class="card-title post-author"><a href="#" class="">User</a>posted x  days ago</span>
                                </div>
                                <div class="card-content">
                                    <p class="">tekst</p>
                                </div>
                            </div>
                        </div>

                    </li>
                </ul>
        </div>   
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
     $(document).ready(function(){
    $('.sidenav').sidenav();
    $('.collapsible').collapsible();
    $('input#input_text, textarea#textarea2').characterCounter();
    $(".dropdown-trigger").dropdown();
  });
  
  
</script>
</body>
</html>