{% extends "main/header.html" %}

{% load static %}
{% block content %}
<body>
    <div class="container">
      <div class="row grey">
        <div class="col l1 m2 s2 center-align">
          <a href="#" class="btn-floating blue">
            <i class="material-icons right">accessible</i>
          </a>
          <h6>
            cat1
          </h6>
        </div>
        <div class="col l1 m2 s2 center-align">
          <a href="#" class="btn-floating blue">
            <i class="material-icons right">local_taxi</i>
          </a>
          <h6>
            cat2
          </h6>
        </div>
        <div class="col l1 m2 s2 center-align">
          <a href="#" class="btn-floating blue">
            <i class="material-icons right">lightbulb_outline</i>
          </a>
          <h6>
            text3
          </h6>
        </div>
        <div class="col l1 m2 s2 center-align">
          <a href="#" class="btn-floating blue">
            <i class="material-icons right">free_breakfast</i>
          </a>
          <h6>
            text4
          </h6>
        </div>
        <div class="col l1 m2 s2 center-align">
          <a href="#" class="btn-floating blue">
            <i class="material-icons right">flight</i>
          </a>
          <h6>
            text5
          </h6>
        </div>
        <div class="col l1 m2 s2 center-align">
          <a href="#" class="btn-floating blue">
            <i class="material-icons right">error_outline</i>
          </a>
          <h6>
            text6
          </h6>
        </div>
        <div class="col l1 hide-on-med-and-down center-align">
          <a href="#" class="btn-floating blue">
            <i class="material-icons right">directions_car</i>
          </a>
          <h6>
            text7
          </h6>
        </div>
        <div class="col l1 hide-on-med-and-down center-align">
          <a href="#" class="btn-floating blue">
            <i class="material-icons right">cloud</i>
          </a>
          <h6>
            text8
          </h6>
        </div>
        <div class="col l1 hide-on-med-and-down center-align">
          <a href="#" class="btn-floating blue">
            <i class="material-icons right">casino</i>
          </a>
          <h6>
            text9
          </h6>
        </div>
        <div class="col l1 hide-on-med-and-down center-align">
          <a href="#" class="btn-floating blue">
            <i class="material-icons right">add</i>
          </a>
          <h6>
            text10
          </h6>
        </div>
        <div class="col l1 hide-on-med-and-down center-align">
          <a href="#" class="btn-floating blue">
            <i class="material-icons right">android</i>
          </a>
          <h6>
            text11
          </h6>
        </div>
        <div class="col l1 hide-on-med-and-down center-align">
          <a href="#" class="btn-floating blue">
            <i class="material-icons right">bookmark</i>
          </a>
          <h6>
            text12
          </h6>
        </div>
      </div>
    <div class="content blue darken-2">
      <div class="row hide-on-med-and-down">
        <div class="col l4 m4 s4">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dignissim libero eu turpis dapibus ornare. Cras vehicula nunc eget dui faucibus maximus. Nam condimentum maximus eros, eget volutpat nulla accumsan vitae. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam eleifend orci ac ultrices maximus. Nulla consequat maximus ornare. Integer in orci tortor. Aenean a risus magna. Phasellus pellentesque, ligula at euismod accumsan, velit mauris condimentum nunc, vel ultricies mi erat non dolor. Mauris risus justo, blandit ut finibus at, dictum ac lectus.</p>
        </div>
        <div class="col l4 m4 s4">
          <p>Sed blandit tellus sed mattis ullamcorper. Sed eu lorem vestibulum, elementum metus non, vehicula nunc. Sed interdum, sapien nec ultricies pellentesque, nisl nisl gravida libero, condimentum tincidunt metus magna vel enim. Cras mattis mauris vitae nulla semper, et egestas ante congue. Sed tincidunt rutrum iaculis. Aliquam lectus leo, vehicula vel elementum ac, varius vel sem. Ut nulla dolor, vestibulum vel finibus vitae, gravida ac lacus. Vestibulum vitae tortor eget libero sollicitudin aliquam a at mi. Duis pellentesque imperdiet elit, a tempor neque efficitur a. Suspendisse sollicitudin mi vitae ipsum tincidunt semper.</p>
        </div>
        <div class="col l4 m4 s4">
          <p>Morbi vehicula mi eu venenatis sollicitudin. Mauris eu semper arcu. Pellentesque lacinia justo ac leo venenatis, eget hendrerit diam condimentum. Morbi eu vehicula massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce rhoncus fermentum semper. Fusce rhoncus tristique sapien a convallis. Cras tincidunt dictum orci ac tristique. Nunc nibh purus, semper a neque eu, tincidunt suscipit velit. Donec at dolor dapibus, dignissim lectus ac, efficitur eros. Donec id nibh nisl.</p>
        </div>
      </div>
      <div class="row hide-on-small-and-down hide-on-large-only hide-on-extra-large-only">
        <div class="col m6">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dignissim libero eu turpis dapibus ornare. Cras vehicula nunc eget dui faucibus maximus. Nam condimentum maximus eros, eget volutpat nulla accumsan vitae. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam eleifend orci ac ultrices maximus. Nulla consequat maximus ornare. Integer in orci tortor. Aenean a risus magna. Phasellus pellentesque, ligula at euismod accumsan, velit mauris condimentum nunc, vel ultricies mi erat non dolor. Mauris risus justo, blandit ut finibus at, dictum ac lectus.</p>
        </div>
        <div class="col m6">
          <p>Sed blandit tellus sed mattis ullamcorper. Sed eu lorem vestibulum, elementum metus non, vehicula nunc. Sed interdum, sapien nec ultricies pellentesque, nisl nisl gravida libero, condimentum tincidunt metus magna vel enim. Cras mattis mauris vitae nulla semper, et egestas ante congue. Sed tincidunt rutrum iaculis. Aliquam lectus leo, vehicula vel elementum ac, varius vel sem. Ut nulla dolor, vestibulum vel finibus vitae, gravida ac lacus. Vestibulum vitae tortor eget libero sollicitudin aliquam a at mi. Duis pellentesque imperdiet elit, a tempor neque efficitur a. Suspendisse sollicitudin mi vitae ipsum tincidunt semper.</p>
        </div>
      </div>
      <div class="row hide-on-med-and-up">
        <div class="col s12">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dignissim libero eu turpis dapibus ornare. Cras vehicula nunc eget dui faucibus maximus. Nam condimentum maximus eros, eget volutpat nulla accumsan vitae. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam eleifend orci ac ultrices maximus. Nulla consequat maximus ornare. Integer in orci tortor. Aenean a risus magna. Phasellus pellentesque, ligula at euismod accumsan, velit mauris condimentum nunc, vel ultricies mi erat non dolor. Mauris risus justo, blandit ut finibus at, dictum ac lectus.</p>
        </div>
      </div>
    </div>





  </div>
</body>


{% endblock %}