<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="style.css">

     {% load static %}
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
  {% include 'main/header.html' %}
    <!--NAVBAR------------------------------------------------------------------------------------------------------>

    <!--PAGE CONTENT-CONTAINER------------------------------------------------------------------------------------------------------>
    <div class="container">
    <!--TEXT-HEADER------------------------------------------------------------------------------------------------------>
        <div class="row bottom-border">
            <div class="col s12 m12 l12">
                <h3 class="section-header">Categories</h3>
            </div>
        </div>
    <!--SINGLE ROW OF TOPICS------------------------------------------------------------------------------------------------------>
        <div class="row">
    <!--ONE OF 3 ROWS------------------------------------------------------------------------------------------------------>
          <!-- https://youtu.be/LDU_Txk06tM -->
            {% for cat in comment_list %}
            <div class="col s12 m6 l4">
                <h4 class="center">{{ cat.topic_category }}</h4>
                <ul class = "collapsible popout" data-collapsible = "accordion">
                    <li>

                        <div class = "collapsible-header">
                            <div class="row">
                                <div class="col s12 m12 l12 post-author"><a href="#" class="">{{ cat.author }} </a> posted x {{ cat.datetime }}</div>
                                 <div class="col s12 m12 l12">Topic: {{ cat.topic_title }}</div>
                            </div>
                        </div>
                        <div class = "collapsible-body">
                            <p class="bottom-border">Comment Section</p>
                            <ul class = "collection">

                                 {% for com in cat.comments.all%}
                                    <li class = "collection-item"><div class="post-author"><a href="#" class=""> {{ com.author }} </a>{{ com.datetime }}</div>
                                         <br>
                                         <font size="4" > {{ com }} </font>
                                 {% endfor %}
                                </li>
                                <li class = "collection-item">
                                    <form method="post">
                                        <div class="input-field">
                                            <textarea id="textarea2" class="materialize-textarea" data-length="240"></textarea>
                                                 <form method="post" action=".">
                                                  {% csrf_token %}
                                                  {{ cat.form.as_p }}
                                                  <button type="submit">Submit</button>
                                                </form>
                                        </div>
                                        <button class="btn waves-effect waves-light right indigo accent-3" type="submit" name="action">Submit
                                        <i class="material-icons right">send</i>
                                        </button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class = "collapsible-header">
                            <div class="card">
                                <div class="card-image">
                                    <img src="{{ cat.topic_image.url }}" width="248">

                                </div>
                                <div class="card-content">
                                    <p class=""></p>
                                </div>
                            </div>
                        </div>

                    </li>
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
     $(document).ready(function(){
    $('.sidenav').sidenav();
    $('.collapsible').collapsible();
    $('input#input_text, textarea#textarea2').characterCounter();
    $(".dropdown-trigger").dropdown();
  });
</script>
</body>
</html>