<!--NAVBAR-MAIN------------------------------------------------------------------------------------------------------>
    <nav class="nav-extended indigo accent-3">
        <div class="nav-wrapper container">
            <a href="/" class="brand-logo">share.it</a>
            <ul class="right">
                    {% if user.is_authenticated %}
                        <li><a class="sidenav-trigger" href="#!" data-target="slide-out">{{ user.username }} - Show Profile<i class="material-icons right">menu</i></a></li>
                    {% else %}
                        <li class="hide-on-small-only"><a href="/register">Register</a></li>
                        <li class="hide-on-small-only"><a href="/login">Login</a></li>
             {% endif %}
            </ul>
        </div>
    <!--NAVBAR-SECONDARY------------------------------------------------------------------------------------------------------>
        <!-- CATEGORY NAVBAR
        <div class="nav-content indigo accent-2">
            <div class="container">
                <ul class="tabs tabs-transparent valign-wrapper">
                    <li><a class="btn-floating btn waves-effect waves-light red"><img src="https://images.pexels.com/photos/2037796/pexels-photo-2037796.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt=""></a></li>
                    <li><a class="btn-floating btn waves-effect waves-light red"><img src="https://images.pexels.com/photos/2037796/pexels-photo-2037796.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt=""></a></li>
                    <li><a class="btn-floating btn waves-effect waves-light red"><img src="https://images.pexels.com/photos/2037796/pexels-photo-2037796.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt=""></a></li>
                    <li><a class="btn-floating btn waves-effect waves-light red"><img src="https://images.pexels.com/photos/2037796/pexels-photo-2037796.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt=""></a></li>
                </ul>
            </div>
        </div>
        -->
    </nav>
    <!--NAVBAR-DROPDOWN------------------------------------------------------------------------------------------------------>
    <ul id="dropdown1" class="dropdown-content">
            <li class="hide-on-med-and-up indigo-text text-accent-3"><a href="/login">Login</a></li>
            <li class="hide-on-med-and-up"><a href="/register">Register</a></li>
            <li><a href="#!">one</a></li>
            <li><a href="#!">two</a></li>
            <li class="divider"></li>
            <li><a href="#!">three</a></li>
    </ul>