 <nav>
    <div class="nav-wrapper">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/register">Register</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="#" class="btn-floating blue">
            <i class="material-icons right">settings</i>
          </a></li>
          <li><a href="#" data-target="slide-out"  class="sidenav-trigger btn-floating blue">
            <i class="material-icons right">perm_identity</i>
          </a></li>
        </ul>
      <a href="/" class="brand-logo right">share.it</a>
    </div>
  </nav>
